<!-- Header -->
<header class="header">
  <nav class="nav">
    <div class="nav__logo">
      <a href="../index.html" class="nav__logo-link">NexusMart</a>
    </div>
    <div class="nav__menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="../index.html" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a href="../pages/shop.html" class="nav__link">Shop</a>
        </li>
        <li class="nav__item">
          <a href="../pages/cart.html" class="nav__link">
            <i class="fas fa-shopping-cart"></i>
            <span class="nav__cart-count">0</span>
          </a>
        </li>
      </ul>
    </div>
    <button class="nav__theme-toggle">
      <i class="fas fa-moon"></i>
    </button>
  </nav>
</header>
